@model ToolUniversity.ViewModels.ReturnInforViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReturnInforViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturn)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReturnId }) |
    <a asp-action="Index">Back to List</a>
</div>
